.resetButton, .playButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: "KnightWarrior-w16n8", sans-serif;
    position: relative;
    width: 100px;
    letter-spacing: 2px;
}

.resetButton {
    background-color: gold;
}

.resetButton:hover {
    background-color: darkgoldenrod;
}

.playButton {
    background-color: green;
}

.playButton:hover {
    background-color: darkgreen;
}

.selectedElement {
    display: flex;
    flex-direction: row;
}